.introducing_section{

    background-color: #3ba0a9;

    
    color: white;
    
}

.introducing_section h1{
    font-weight: bold;
}

.see_formations{
    color: #47b2e4;
    font-weight: bold;
    background-color: white;
}


.introducing_section .row{
margin-left: 3em;
margin-right: 3em;
}




@media screen and (max-width: 1050px)
{


    .introducing_section .row{
        margin-left: 0em;
        margin-right: 0em;
        }
}