
main{
    margin-top: 3em;
}

.courses_section{
  
   
    padding-top: 8em;
    padding-left: 8em;
    padding-right: 8em;
    
    
}

.formation_submenu > .row{
    padding: 10px;
}
.formation_submenu{
    background-color: white;
    font-size: 13px;
    display: none;

}
.mobile_submenu{
    display: none;
    
}

.header_title{
    font-family: Montserrat, Montserrat-Bold;
  
    font-size: 1.7em;
    letter-spacing: 0px;
  
    font-weight: 700;
    display: block;
    color: rgba(0,0,0,.92);
    
}

.course_link{
    text-decoration: none;
    color: black;
}

.course_link:hover{
    text-decoration: none;
    color: black;
}
.course_infos {
   
    border-radius: 5px;

  
}
.course_category{
    color: #3ba0a9;
    font-weight: normal;
    font-size: 15px;
}
.course_description{
    color: #787878;
    display: inline-block;
}
.course_title{
    color: #141414;
    font-size: 16px;
    font-weight: bold;
}
.course_item {
    
  
    
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1px 1px 2px black;
}

.course_item:hover {
    cursor:pointer;
    box-shadow: 1px 1px 10px black;
}




.learning_time{
    display: inline-block;
}
 

.line{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: grey;
    width: 1px;
    height: 75%;
    
}
.line_col{
    text-align: center;
}

.form1:hover ,.form2:hover{

    background-color: rgba(76, 213, 255, 0.3);
    border-radius: 10px;
}

.form1 ,.form2{
    padding: 10px;
    
   
}
.form2 p, .form1 p{
    color: black;

}
.formation_submenu h5{

    color: black;
    font-weight: bold;
}
.form1 i , .form2 i{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    border-radius: 50%;
    padding-right: 1px;
    justify-content: center;
    color: #294750;
    background-color: rgba(41, 71, 80, 0.3);
   
}




.show{
    display: block;
    transition: display 1s ease-in-out;
}
.show_mobile_submenu{
    display: block;
}
@media screen and (max-width: 555px)
{
.learning_time{
    display: none;
}

.courses_section{
  
   
    padding: 1em;
    
    
}

}



@media screen and (max-width: 576px)
{
    .course_description{
        display: none;
    }
}

@media screen and (max-width: 991px)
{


   .formation_submenu{
    display: none;
 
   }


  

 
}
@media screen and (max-width: 1050px)
{


.courses_section{
  
   
    padding: 1em;
    
    
}


}